*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
}
body{
    background-color: #a02ef8;
    background-image: linear-gradient(0deg, #a02ef8 0%, #021e45 100%);
    min-height: 100vh;
}

main{
    background-image: none;
}

#administracion{
    min-height: 100vh;
}
