#img-display{
    background-image: url('../img/maldives-01.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    scroll-margin: 2em;
    transition: background-image 2s ease-in-out;
}

#img-display h1{
    filter: drop-shadow(0px 0px 3px #000);
}

#card-prestador{
    background-image: url('../img/fondo-card.png');
    background-size: cover;
    background-position: center;
    background-color: #4e2170;
}

#card-prestador div img{
    max-height: 11em;
}

#card-prestador aside:nth-child(2) p:first-child{
    font-size: 1.5em;
}

.carousel-inner{
    max-width: 900px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: drop-shadow(0px 0px 3px #000);
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.navbar{
    filter: drop-shadow(0px 0px 3px #000);
    transition: all 0.5s;
}

#card-prestador aside:nth-child(2) p:first-child{
    font-size: 1.5em;
}

.card-text{
    width: 100%;
}

/* estilo puntaje con estrellas */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc107;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ffc107;  
}
