/* .btn{
    background-color: #A02EF8;
    border-color: #AE47EE;
} */

#card-prestador{
    background: rgb(174,71,238);
    background: linear-gradient(45deg, rgba(174,71,238,1) 0%, rgba(160,46,248,1) 100%);
    border-color: #AE47EE;
}

#card-prestador img{
    max-height: 11em;
}

#card-prestador aside:nth-child(2) p:first-child{
    font-size: 1.5em;
}

.card-text{
    width: 100%;
}

.carousel-inner{
    max-width: 900px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: drop-shadow(0px 0px 3px #000);
}
