@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
  margin: 0px;
  padding:0px;
}
body{
  background-image: url(../img/gradient-liquid-background-design_52683-70580.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}

.btn, .btn:hover, .btn:active, .btn:focus{
 background-color: #813dd8!important;
 border: none;
 color: #fff!important;
}
main{
  font-family: 'Audiowide', cursive;
}