@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1,h2,h3{
    font-family: 'Audiowide', cursive;
}
