*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-family: nexa;
 }

 a{
    text-decoration: none;
 }

 section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
 }

 @media(max-width:1000px){
    section{
        padding: 100px 50px;
    }
}
@media(max-width:600px){
    section{
        padding: 125px 50px;
    }
}

.box{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: rgb(231, 62, 73);
    text-align: center;
}

.box video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
div{
    background: rgba(0, 0, 0, 0.3);
  color: white;
  width: 33%;
  margin: 2rem;
  font-size: 1.2rem;
  top: 30px;
  border-radius: 20px;
}

.box h1{
    margin-bottom:15px;
    font-size: 65px;
    text-transform: uppercase;
    text-shadow:0 2px 2px black ;
}

.box h2{
    margin-bottom: 40px;
    font-size: 35px;
    text-shadow: 0 2px 2px red;
}

.box a.boxBtn{
    padding: 15px 35px;
    background: transparent;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    border: 4px solid #fff;
    transition: all .5s;
}
 
h1{
    border-radius: 10px solid black;
}
.box a.boxBtn:hover{
    background: yellow;
    color: black;
}

@media(max-width:800px){
    .box{
        min-height: 600px;
    }
    .box h1{
        font-size: 32px;
    }
    .box h2{
        font-size: 20px;
    }
    .box a.boxBtn{
        padding: 15px;
    }
}