@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* PAGINA PRINCIPAL  */

*{
    margin: 0px;
    padding: 0px;
}
header{
    color: aliceblue;
    background: rgb(57, 57, 247);
}
/* FOOTER */
footer{
    background:rgb(52, 52, 213);
    padding: 50px 0;
}
footer h4{
margin: top 0 ;
}
footer ul{
    list-style: none;
}
